.navbar-header  a {
	background-color: #1a54e7;
	color: #fff;
	display: inline-block;
	position: relative;
}
.navbar-header a:after {
	content: "";
	position: absolute;
	top: 0;
	left: -500px;
	bottom: 0;
	right: 100%;
	background-color: #1a54e7;
}